<h1>Pending Applications</h1>
  <% @application.pets.each do |pet| %>

    <% if @application.status == "Pending" %>
    <%= "#{pet.name}" %>
    <%= button_to "Approve #{pet.name}", "/admin/applications/#{@application.id}", method: :patch %>
    <% else %>
    <%= "#{pet.name} Approved" %>
  <% end %>
  <% end %>


  <h1>Approved Pets</h1>
